__pycache__
.venv
.vscode
.git

client_media
worker_media
examples
worker_logs

src/usbipice/worker/firmware/**/build
!src/usbipice/worker/firmware/**/build/*.uf2
src/usbipice/worker/firmware/pico-ice-sdk
src/usbipice/worker/firmware/pico-sdk

examples/pulse_count_usbip/build

src/usbipice/worker/deploy.py

usbipice.egg-info
dist