services:
  usbip:
    image: usbipiceproject/usbipice-worker:no-usbip
    build:
      context: .
      dockerfile: src/usbipice/worker/no-usbip.dockerfile

    volumes:
      - /dev:/dev
      - /run/udev:/run/udev
      - /tmp:/tmp
    
    network_mode: host
    privileged: true
    
    environment:
    - USBIPICE_DATABASE=${USBIPICE_DATABASE}
    - USBIPICE_WORKER_NAME=${USER}
    - USBIPICE_CONTROL_SERVER=${USBIPICE_CONTROL_SERVER}
    
    command: ["/usr/local/app/.venv/bin/worker", "-c", "src/usbipice/worker/example_config.ini"]